# This is a list of python packages needed for Tosee-docs. This file is used with pip.
#
setuptools
# The setuptools package is required to install source distributions and on some systems is not installed by default.
# Please keep it as the first item of this list.
#
sphinx==2.1
sphinx-book-theme==0.0.42
readthedocs-sphinx-search==0.1.0rc3
Jinja2==2.11.2
markupsafe==1.1.1
